@import "./variables.less";
.pf1.sheet.actor {

  /* ----------------------------------------- */
  /*  Sheet Header                             */
  /* ----------------------------------------- */

  .warning {
    flex: 0;
    background-color: #CECE00;
    border: 1px solid #909000;
    border-radius: 2px;
  }

  .tab-footer {
    flex: 0;
  }

  .charlevel {
    flex: 0;
    height: 60px;
    margin: 0;
    padding: 2px;
    text-align: right;

    .level {
      width: 100%;
      height: 20px;
      font-size: 16px;
      line-height: 20px;

      label {
        font-size: 24px;
        text-align: right;
      }

      input {
        width: 48px;
        font-size: 24px;
        text-align: center;
      }

      // If the Experience Bar is disabled
      &.noxp {
        margin-top: 10px;
        > label {
          font-size: 32px;
        }
        > input {
          font-size: 32px;
          flex: 0 0 40px;
          height: 44px;
        }
      }

    }

    .experience {
      width: 100%;
      height: 20px;
      padding-right: 5px;
      font-size: 16px;
      color: @colorOlive;
    }
  }

  /* ----------------------------------------- */
  /*  Details Tab                              */
  /* ----------------------------------------- */

  .tab.details {
    height: 100%;
    border-left: @borderGroove;

    .details-header {
      flex: 0;
      padding-bottom: 4px;
      margin-bottom: 8px;
      border-bottom: @borderGroove;

      .name-xp {
        flex: 0;

        h1.charname {
          input {
            height: 32px;
          }
        }
      }

      .summary {
        flex: 0;

        & > div {
          flex: 0 0 33%;
          height: 32px;
          line-height: 28px;
          border-right: @borderGroove;
          border-bottom: @borderGroove;

          &:nth-last-child(1), &:nth-last-child(2), &:nth-last-child(3) {
            border-bottom: none;
          }

          &:nth-child(3n+0) {
            border-right: none;
          }

          &.alignment {
            padding: 1px 3px;
          }
        }
      }

      .race-container {
        flex: 1;
        margin: 3px 0;

        .item-controls {
          align-items: flex-start;

          a {
            flex: 0 0 16px;
            font-size: 16px;
            text-align: center;
            color: #666;
          }
        }

        .race {
          flex: 0 0 64px;
          background-size: contain;
          line-height: 64px;
          text-align: center;
          vertical-align: baseline;
          margin-right: 4px;
          height: 64px;

          &.rollable:hover {
            background-image: url("/icons/svg/d20-black.svg") !important;
          }
        }
      }

      .hp-ability {
        flex: 1;
        justify-content: flex-end;

        > label {
          flex: 0;
          margin-right: 4px;
        }

        > select {
          flex: 0 0 96px;
        }
      }
    }

    .attributes > .attribute {
      margin: 0;
      border-left: none;
      border-bottom: none;
      border-top: @borderGroove;
      border-right: @borderGroove;
      border-radius: 0;
      height: auto;
    }

    .attribute.speed {
      flex: 1.5;
      display: flex;
      flex-wrap: wrap;
      align-items: start;

      .attribute-speed {
        flex: 0 0 33%;
        max-width: 33%;

        select {
          width: 100%;
        }

        h4 {
          white-space: nowrap;
          overflow: hidden;
        }

        input[type="text"] {
          height: 16px;
          margin: 0;
          padding: 0;
        }
      }
    }

    img.profile {
      flex: 0 0 200px;
      width: 200px;
      height: 200px;
      padding: 0 3px;
      object-fit: contain;
      border: none;
      border-right: @borderGroove;
    }

    .misc-header-items {
      flex: 0;

      &>* {
        margin-right: 8px;
      }

      .actor-quick-actions {
        button {
          min-height: 24px;
          width: calc(50% - 6px);
          height: calc(50% - 6px);
          line-height: 50%;
        }
      }
    }

    .hd-level {
      flex: 0 0 200px;

      .hd {
        flex: 0;
        justify-content: flex-end;
        align-items: center;

        > label {
          font-size: 24px;
          text-align: right;
          flex: 0;
        }

        > input {
          flex: 0 0 28px;
          font-size: 24px;
          height: 28px;
        }
      }
    }

    .attributes {
      border-bottom: @borderGroove;
    }

    .tab.quick-info {
      ul.attributes {
        margin: 2px 0;
      }

      .quick-actions {
        display: flex;
        flex-direction: row;
        padding: 0;
        margin: 0;

        li {
          cursor: pointer;
          flex: 0 0 52px;
          border-width: 2px;
          border-style: solid;
          border-radius: 4px;
          display: flex;
          margin: 2px;
          overflow: hidden;

          &:hover {
            filter: brightness(150%);

            .icon-label {
              visibility: initial;
            }
          }

          img {
            border: none;
            width: 48px;
            height: 48px;
          }

          .icon-label {
            visibility: hidden;
          }
        }
      }
    }
  }

  .alignment {
    color: black;
  }

  .controls {
    .control {
      flex: 0;
      visibility: hidden;
      margin-right: 4px;
    }

    &:hover {
      .control {
        visibility: visible;
      }
    }
  }

  .attributes {
    input[type="text"] {
      height: 24px;
    }
    input.temphp {
      width: 48%;
    }
  }

  /* ----------------------------------------- */
  /*  General Styles                           */
  /* ----------------------------------------- */

  // Box Headers
  h4.box-title {
    line-height: 16px;
    margin: 4px 8px 2px;
    font-size: 18px;
    border-bottom: 1px solid @colorBeige;
  }

  // Sections
  section {
    overflow-y: hidden;
  }

  /* ----------------------------------------- */
  /*  Attributes                               */
  /* ----------------------------------------- */

  .attributes {
    .traits {
      overflow-y: scroll;
      height: 100%;
    }
  }

  ul.attributes.misc-base, ul.attributes.misc-defenses {
    .attribute-footer input {
      width: 100%;
    }
  }

  .attributes-root {
    flex: 0 0 30%;
  }

  ul.attributes {
    list-style: none;
    margin: 8px 0 0;
    padding: 0;
    flex: 0;

    li.attribute.health {
      height: 100%;
      border-bottom: none;
    }

    li.attribute {
      height: 80px;
      margin: 0 5px;
      border: @borderGroove;
      border-radius: 4px;
      .nodesto();
      text-align: center;

      .attribute-name {
        flex: 0 0 18px;
      }

      .attribute-speed {
        .attribute {
          white-space: nowrap;
          overflow: hidden;
          text-align: center;
        }
      }

      &.health {
        div.attribute {
          max-width: 33%;
        }
      }

      .attribute-value {
        height: 28px;
        line-height: 20px;

        input {
          display: inline;
          max-width: 80%;
          margin: 0;
          font-size: 24px;
        }

        div.attribute {
          display: inline-block;
          min-width: 24px;
          font-size: 24px;
          width: calc(100% - 2px);
        }

        span.sep {
          display: inline;
          position: relative;
          top: 2px;
          font-size: 28px;
          color: @colorTan;
        }

        &.multiple {
          input { max-width: 33%; }
        }
      }

      .attribute-footer {
        flex: 0 0 18px;
        margin-top: -1px;
        line-height: 18px;
        font-family: "Signika", "Palatino Linotype", serif;
        font-size: 14px;
      }
    }
  }

  /* ----------------------------------------- */
  /*  Defenses                                 */
  /* ----------------------------------------- */
  
  .defenses {
    .attributes {
      flex: 0;
    }

    .attribute .attribute-footer input {
      width: 32px;
    }

    .defense-rolls, .defense-notes {
      label {
        line-height: 20px;
        white-space: nowrap;

        h3 {
          .nodesto();
          font-size: 22px;
        }
      }
    }

    .defense-notes {
      margin-top: 5px;
      overflow-y: scroll;
      flex: 1;

      label {
        flex: 1;
      }

      textarea {
        flex: 3;
      }
    }
  }

  /* ----------------------------------------- */
  /*  Ability Scores                           */
  /* ----------------------------------------- */

  .ability-scores {
    flex: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    .nodesto();

    .ability {
      height: 94px;
      margin: 0 2px;
      text-align: center;
      border: @borderGroove;
      border-radius: 3px;

      .ability-score {
        font-size: 20px;
      }

      input.ability-total {
        height: 30px;
        width: 50px;
        margin: 0 auto;
        line-height: 32px;
        font-size: 24px;
      }

      .ability-modifiers {
        height: 24px;
        margin: -12px 0 0;

        span.ability-mod,
        input[type="text"].ability-base {
          flex: 0 0 32px;
          height: 32px;
          font-size: 20px;
          border-top: @borderGroove;
        }

        span.ability-mod {
          border-right: @borderGroove;
        }

        div.ability-center {
          height: 0;
        }

        input[type="text"].ability-base {
          border-left: @borderGroove;
          border-bottom: 0;
          border-right: 0;
          border-radius: 0;
          margin-right: 0;
          margin-bottom: 0;
          padding: 0;
        }
      }

      .ability-header {
        height: 24px;
        margin: 0;

        input[type="text"].ability-damage {
          flex: 1;
          height: 24px;
          font-size: 20px;
          border-bottom: @borderGroove;
          border-right: @borderGroove;
        }

        input[type="text"].ability-penalty {
          flex: 1;
          height: 24px;
          font-size: 20px;
          border-bottom: @borderGroove;
        }

        input[type="text"].ability-drain {
          flex: 1;
          height: 24px;
          font-size: 20px;
          border-bottom: @borderGroove;
          border-left: @borderGroove;
        }
      }

      /* Hide modifier box on hover */

      input.ability-total:hover + .ability-modifiers {
        visibility: hidden;
      }
    }
  }

  .bottom {
    overflow-y: auto;
  }

  /* ----------------------------------------- */
  /*  Skills                                   */
  /* ----------------------------------------- */

  div.skill-rank {
    flex: 0;
  }

  ul.skills-list {
    flex: 1;
    overflow-y: auto;
    list-style: none;
    margin: 5px 5px 0;
    padding: 2px 2px 0;
    border: @borderGroove;
    border-radius: 3px;

    li.skill, li.sub-skill {
      height: 28px;
      padding: 3px 0;
	  align-items: end;

      background-color: rgba(170, 170, 170, 0.3);
      &:nth-child(2n+1) {
        background-color: rgba(210, 210, 210, 0.3);
      }
      &:hover {
        background-color: rgba(64, 64, 192, 0.3);
      }

      .skill-name.untrained {
        color: rgba(0, 0, 0, 0.6);

        .rollable {
          img {
            opacity: 60%;
          }
        }
      }

      .skill-name {
        display: flex;
        flex: 180px;
        margin: 0;
        font-size: 14px;
        align-items: start;

        .untrained-label {
          vertical-align: super;
          font-size: 14px;
          flex: 0;
        }

        .rollable {
          display: inline-block;
          flex: 0 0 16px;
          margin-right: 2px;

          img {
            width: 24px;
            height: 24px;
            border: unset;
          }
        }

        h4, input[type="text"] {
          display: inline-block;
          margin: 0;
          white-space: nowrap;
          overflow: hidden;
        }

        input[type="text"] {
          height: 24px;
          width: initial;
          padding: 0;
        }

        .skill-control {
          display: flex;
          align-items: center;

          .fas {
            display: inline-block;
            text-align: center;
            width: 24px;
          }
        }
      }

      .checkbox {
        flex: 0 0 64px;
        font-size: 14px;
      }

      .skill-ability {
        flex: 0 0 48px;
        margin: 0 2px;
      }

      .skill-mod {
        flex: 0 0 28px;
		font-weight: bold;
		margin: -1px 22px 0px 0px;
		text-align: center;
		border: 1px dotted #111;
      }

      .skill-rank {
        flex: 0 0 48px;
		border-bottom: 1px solid #111;
		margin-right: 12px;
      }

      .skill-controls {
        flex: 0 0 24px;
      }
    }

    li.sub-skill .skill-name input[type="text"] {
      padding-left: 8px;
    }
  }

  /* ----------------------------------------- */
  /*  Statuses                                 */
  /* ----------------------------------------- */

  .counters {
    flex: 0 0 100%;
    border-bottom: @borderGroove;
    margin-bottom: 5px;

    .counter {
      padding: 0 3px;
      line-height: 32px;

      h4 {
        flex: auto;
        margin: 0;
        .nodesto();
        font-size: 14px;
      }

      .counter-value {
        flex: 0 0 50px;
        text-align: right;
        > * {
          display: inline;
        }
      }

      input[type="text"] {
        height: 20px;
        max-width: 20px;
        margin: 0;
        padding: 0;
        text-align: center;
      }

      input[type="checkbox"] {
        position: relative;
        margin: 0;
        top: 6px;
      }

      span.sep {
        margin: 0 -2px;
        font-size: 14px;
      }
    }
  }

  /* ----------------------------------------- */
  /*  Buffs & Conditions                       */
  /* ----------------------------------------- */

  .condition {
    flex: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    margin: 2px;
    flex-basis: calc(20% - 4px);

    label {
      line-height: 20px;
      flex: 0;
      white-space: nowrap;

      span {
        font-size: 14px;
      }
    }
  }

  /* ----------------------------------------- */
  /*  Traits                                   */
  /* ----------------------------------------- */

  .traits {
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 0 5px;

    .form-group, .form-group-stacked {
      margin: 0 0 4px 0;
      justify-content: space-between;
    }

    .trait-selector {
      flex: 0 0 16px;
      padding: 2px 0;
      color: #999;
      font-size: 14px;
    }

    .configure-flags {
      flex: 1;
    }

    .traits-list {
      list-style: none;
      margin: 0;
      padding: 0;
      text-align: right;
    }

    .actor-size {
      flex: 0 0 150px;
    }

    label {
      flex: 0 0 150px;
      line-height: 20px;
      font-weight: bold;
      margin: 0;
      text-align: right;
    }

    input {
      text-align: right;
    }

    i.fas {
      float: right;
      margin-right: 3px;
      text-align: right;
      color: #999;

      &:hover {
        color: #111;
        text-shadow: 0 0 10px red;
      }
    }

    .inactive {
      color: @colorTan;
    }
  }

  /* ----------------------------------------- */
  /*  Inventory Lists                          */
  /* ----------------------------------------- */

  /* Encumbrance Bar */
  .encumbrance {
    height: 12px;
    background: @colorTan;
    margin: 1px 15px 0 1px;
    border: 1px solid @colorDark;
    border-radius: 3px;
    position: relative;

    .encumbrance-bar {
      position: absolute;
      top: 1px;
      left: 1px;
      background: #6c8aa5;
      height: 8px;
      border: 1px solid #cde4ff;
      border-radius: 2px;
    }

    .encumbrance-label {
      height: 10px;
      padding: 0 5px;
      position: absolute;
      top: 0;
      right: 0;
      font-size: 14px;
      line-height: 12px;
      text-align: right;
      color: #EEE;
      text-shadow: 0 0 5px #000;
    }

    &.encumbered {
      .encumbrance-bar {
        background: #A80D0D;
        border-color: #E14949;
      }
    }

    .encumbrance-breakpoint {
      position: absolute;
      left: 66%;
    }

    .arrow-up {
      bottom: 0;
      width: 0;
      height: 0;
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      border-bottom: 4px solid #666;
    }

    .arrow-down {
      top: 0;
      width: 0;
      height: 0;
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      border-top: 4px solid #666;
    }

    &.encumbered {
      .arrow-up { border-bottom: 4px solid #000; }
      .arrow-down { border-top: 4px solid #000; }
    }
  }

  .tab-footer {
    .tag {
      flex: 0 1 auto;
    }
  }

  .tab.features,
  .tab.inventory,
  .tab.spellbook,
  .tab.attributes,
  .tab.defenses {
    overflow-y: hidden;

    label.checkbox {
      text-align: left;
      flex: 0;
      margin: 0 0 0 4px;

      &:first-child {
        margin-top: 4px;
      }
    }
  }

  div.attributes-traits {
    align-items: flex-start;
    margin: 0;
    overflow-y: hidden;
  }

  /* Inventory List Filters */
  .inventory-filters {
    margin: 0 8px;
    flex: 0 0 20px;
    h3, .filter-title {
      .nodesto();
      color: @colorOlive;
      font-size: 22px;
      margin: 0;
    }

    &.spellbook-filters {
      flex: 0 0 40px;
    }

    .currency {
      list-style: none;
      margin: 4px 0 8px;
      padding: 0;
      font-size: 14px;

      h3 {
        flex: 0 0 160px;
      }
      label {
        flex: 0;
        margin-left: 8px;
        text-align: right;
        line-height: 20px;
        color: @colorTan;
      }
      input[type="text"] {
        flex: 1;
        text-align: center;
        margin-left: 8px;
        border-bottom: @borderGroove;
      }
      .convert-currency {
        flex: 0;
      }
    }
  }

  .carry-label {
    flex: 0 0 24px;
  }

  .carry-bonus {
    label {
      flex: 0;
      margin-left: 8px;
      text-align: right;
      line-height: 20px;
      color: @colorTan;
      white-space: nowrap;
    }
    input[type="text"] {
      flex: 0 0 48px;
      text-align: center;
      margin-left: 8px;
      border-bottom: @borderGroove;
    }
  }

  .inventory-list {
    list-style: none;
    margin: 0;
    padding: 0 5px;
    overflow-y: auto;

    // Inventory Item
    .item {
      line-height: 24px;
      padding: 0 2px; // to align with the header border
      border-bottom: 1px solid @colorFaint;
      &:last-child { border-bottom: none; }

      background-color: rgba(155, 155, 155, 0.3);
      &:nth-child(2n+1) {
        background-color: rgba(210, 210, 210, 0.3);
      }
      &:hover {
        background-color: rgba(64, 64, 192, 0.3);
      }

      // Item Header Name
      .item-name {
        cursor: pointer;
        white-space: nowrap;
        overflow: hidden;

        .item-image {
          flex: 0 0 24px;
          background-size: 24px;
          margin-right: 5px;
        }

        h4 {
          margin: 0;
          min-width: 0;
        }

        .item-image:hover {
          background-image: url("/icons/svg/d20-black.svg") !important;
        }
      }

      input[type="checkbox"] {
        height: 12px;
      }

      // Item Dropdown Properties
      .item-properties {
        margin-top: 3px;
      }

      // Charged
      .item-recharge {
        flex: 0 0 80px;
        text-align: right;
        font-size: 14px;
        color: @colorTan;
      }

      .item-actions {
        > div {

          a {
            display: flex;
            flex: 0 0 16px;
            padding: 0;
            margin-right: 1px;
            height: 16px;
            &:last-child { margin-right: 0; }
          }
        }
      }
    }

    // Inventory Header
    .inventory-header {
      margin: 2px 0;
      padding: 0;
      background: rgba(0, 0, 0, 0.05);
      border: @borderGroove;
      font-weight: bold;
      line-height: 24px;

      h3 {
        margin: 0;
        padding-left: 5px;
        font-size: 14px;
        font-weight: bold;
      }

      .item-controls {
        justify-content: flex-start;

        a.item-create {
          flex: 0 0 100%;
        }
      }
    }

    // Item Detail Sections
    .item-detail {
      height: 24px;
      flex: 0 0 80px;
      font-size: 14px;
      color: @colorTan;
      text-align: center;
      border-right: 1px solid @colorBeige;
      overflow: hidden;
      white-space: nowrap;
      .flexrow();
      justify-content: flex-end;
      align-items: center;

      .icon {
        background-color: @colorTan;
      }

      &.item-actions {
        flex: 0 0 32px;
        padding: 0 1px 0 1px;
        justify-content: center;

        & > div {
          flex: 0 0 16px;
        }
      }

      &.item-slot {
        flex: 0 0 64px;
        padding: 0 1px 0 1px;
      }

      &.item-usage {
        flex: 0 0 120px;
        padding: 0 1px 0 1px;
      }

      &.item-type {
        flex: 0 0 120px;
        padding: 0 1px 0 1px;
      }

      &.item-value {
        flex: 0 0 72px;
        padding: 0 1px 0 1px;
      }

      &.item-weight {
        flex: 0 0 56px;
        padding: 0 1px 0 1px;
      }

      &.item-identified {
        flex: 0 0 32px;
        padding: 0 1px 0 1px;
      }

      &.item-carried {
        flex: 0 0 32px;
        padding: 0 1px 0 1px;
      }

      &.item-equipped {
        flex: 0 0 32px;
        padding: 0 1px 0 1px;
      }

      &.item-uses {
        flex: 0 0 64px;
        padding: 0 1px 0 1px;
      }

      &:nth-child(2) { border-left: 1px solid @colorBeige; }
      &:last-child { border-right: none; }
    }

    a.item-control {
      height: 100%;

      &.item-toggle-data {
        color: rgba(75, 75, 75, 0.3);

        &.enabled {
          color: rgba(75, 75, 75, 1);
        }
      }
    }

    .item-level {
      flex: 0 0 40px;
      border-right: 1px solid @colorFaint;
    }

    .item-feat-level {
      flex: 0 0 60px;
      border-right: 1px solid @colorFaint;
    }

    .item-active {
      flex: 0 0 60px;
      border-right: 1px solid @colorFaint;
    }

    .item-list {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    // Item Control Buttons
    .item-controls {
      flex: 0 0 96px;
      .flexrow();
      overflow-x: hidden;
      white-space: nowrap;
      justify-content: center;

      a {
        flex: 0 0 16px;
        font-size: 14px;
        text-align: center;
        color: #666;
      }
    }

    // Item Dropdown Summary
    .item-summary {
      flex: 0 0 100%;
      font-size: 14px;
      line-height: 16px;
      padding: 0.25em 0.5em;
      border-top: 1px solid @colorFaint;
    }
  }

  /* ----------------------------------------- */
  /*  Features                                 */
  /* ----------------------------------------- */

  section.feats-body {
    .feats-group {
      .item-detail.item-type {
        flex: 0 0 40px;
      }
    }
  }

  /* ----------------------------------------- */
  /*  Spellbook                                */
  /* ----------------------------------------- */

  .spellbook-group {
    label {
      margin: 0;
    }

    .spell-points-current {
      h3 {
        .nodesto();
        font-size: 22px;
        flex: 0 0 160px;
      }

      .value, .max {
        display: flex;
        flex: 0 0 32px;
        text-align: center;
      }

      .sep {
        flex: 0;
      }
    }

    .spell-slots,
    .spell-comps,
    .spell-uses {
      white-space: nowrap;
      overflow: hidden;
      flex: 0 0 96px;
      font-size: 14px;
      text-align: center;
      color: @colorTan;
      display: flex;
      align-items: center;
      justify-content: center;

      input[type="number"] {
        width: calc(100% - 2px);
        min-width: 40px;
        height: 24px;
        padding: 1px 3px;
        margin: 0;
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
        border-radius: 3px;
        -webkit-user-select: text;
        -moz-user-select: text;
        -ms-user-select: text;
        user-select: text;
      }

      input[type="text"].base,
      input[type="number"].base {
        flex: 1;
      }

      input, span.sep {
        text-align: center;
      }
      span.sep {
        flex: 0 0 8px;
      }
    }

    .spell-uses {
      input {
        flex: 0 0 24px;
      }
    }

    // .spell-uses {
    //   padding-right: 8px;
    //   text-align: right !important;
    // }

    .spell-school {
      white-space: nowrap;
      overflow: hidden;
      flex: 0 0 96px;
      font-size: 14px;
      color: @colorTan;
      text-align: center;
      border-right: 1px solid @colorFaint;
    }

    .spell-activation {
      white-space: nowrap;
      overflow: hidden;
      flex: 0 0 120px;
      font-size: 14px;
      color: @colorTan;
      text-align: center;
      border-right: 1px solid @colorFaint;
    }

    .spell-components {
      white-space: nowrap;
      overflow: hidden;
      flex: 0 0 80px;
      font-size: 14px;
      color: @colorTan;
      text-align: center;
      border-right: 1px solid @colorFaint;
    }

    // Empty spellbook controls
    .spellbook-empty .item-controls { flex: 1; }

    .spell-failure {
      input[type="text"] {
        flex: 1;
      }
    }

    .spell-range {
      label {
        flex: 1 1 48px;
        text-align: right;
        margin-right: 8px;
        white-space: nowrap;
      }

      input[type="text"] {
        flex: 1 1 48px;
      }
    }
  }

  .rollable.image-d20 {
    flex: 0 0 24px;
    display: inline-block;
    background-image: url(../../icons/dice/d20black.svg);
    background-size: 100%;
    height: 24px;
  }

  /* ----------------------------------------- */
  /*  TinyMCE                                  */
  /* ----------------------------------------- */

  .editor {
    padding: 0 8px;
  }

  /* ----------------------------------------- */
  /*  Misc                                     */
  /* ----------------------------------------- */

  hr {
    margin: 4px 0 4px 0;
    flex: 0;
  }
}

.locked {
  img.sheet-profile {
    max-height: 360px;
    max-width: 240px;
    float: left;
  }
}
