{{!-- Flags --}}
<div class="form-group">
  <label class="header">{{localize "PF1.CheckFlags"}}</label>
  <div class="buff-flags">
    <label class="checkbox">
      <input type="checkbox" name="data.changeFlags.loseDexToAC" {{checked data.changeFlags.loseDexToAC}}/> {{localize "PF1.ChangeFlagLoseDexToAC"}}
    </label>
    <label class="checkbox">
      <input type="checkbox" name="data.changeFlags.noDex" {{checked data.changeFlags.noDex}}/> {{localize "PF1.ChangeFlagNoDex"}}
    </label>
    <label class="checkbox">
      <input type="checkbox" name="data.changeFlags.noStr" {{checked data.changeFlags.noStr}}/> {{localize "PF1.ChangeFlagNoStr"}}
    </label>
    <label class="checkbox">
      <input type="checkbox" name="data.changeFlags.oneInt" {{checked data.changeFlags.oneInt}}/> {{localize "PF1.ChangeFlagOneInt"}}
    </label>
    <label class="checkbox">
      <input type="checkbox" name="data.changeFlags.oneWis" {{checked data.changeFlags.oneWis}}/> {{localize "PF1.ChangeFlagOneWis"}}
    </label>
    <label class="checkbox">
      <input type="checkbox" name="data.changeFlags.oneCha" {{checked data.changeFlags.oneCha}}/> {{localize "PF1.ChangeFlagOneCha"}}
    </label>
    <label class="checkbox">
      <input type="checkbox" name="data.changeFlags.noEncumbrance" {{checked data.changeFlags.noEncumbrance}}/> {{localize "PF1.ChangeFlagDwarflikeEncumbrance"}}
    </label>
    <label class="checkbox">
      <input type="checkbox" name="data.changeFlags.mediumArmorFullSpeed" {{checked data.changeFlags.mediumArmorFullSpeed}}/> {{localize "PF1.ChangeFlagMediumArmorFullSpeed"}}
    </label>
    <label class="checkbox">
      <input type="checkbox" name="data.changeFlags.heavyArmorFullSpeed" {{checked data.changeFlags.heavyArmorFullSpeed}}/> {{localize "PF1.ChangeFlagHeavyArmorFullSpeed"}}
    </label>
  </div>
</div>

<div>
  {{!-- Changes --}}
  <h4 class="change-header">
    {{localize "PF1.Changes"}}
    <a class="change-control add-change"><i class="fas fa-plus"></i></a>
  </h4>
  <ol class="changes form-group">
    {{#each data.changes as |change a|}}
    <li class="change flexrow" data-change="{{a}}">
      <input class="change-formula" type="text" name="data.changes.{{a}}.formula" value="{{lookup this "formula"}}"
                                                                                  placeholder="{{localize "PF1.Formula"}}" title="{{localize "PF1.Formula"}}"/>
      <input class="change-priority" type="text" name="data.changes.{{a}}.priority" value="{{lookup this "priority"}}"
                                                                                    placeholder="{{localize "PF1.Priority"}}" title="{{localize "PF1.Priority"}}" />

      <select class="change-operator" name="data.changes.{{a}}.operator">
        {{#select (lookup this "operator") }}
        <option value="add">+</option>
        <option value="set">=</option>
        {{/select}}
      </select>
      <select class="change-target" name="data.changes.{{a}}.target">
        {{#select (lookup this "target") }}
        <option value=""></option>
        {{#each ../changes.targets as |target type|}}
        <option value="{{type}}">{{target}}</option>
        {{/each}}
        {{/select}}
      </select>
      <select class="change-sub-target" name="data.changes.{{a}}.subTarget">
        {{#select (lookup this "subTarget") }}
        {{#if (lookup this "target") }}
        {{#each subTargets as |target type|}}
        <option value="{{type}}">{{target}}</option>
        {{/each}}
        {{else}}
        <option value=""></option>
        {{/if}}
        {{/select}}
      </select>
      <select class="change-modifier" name="data.changes.{{a}}.modifier">
        {{#select (lookup this "modifier") }}
        {{#each ../changes.modifiers as |name type|}}
        <option value="{{type}}">{{localize name}}</option>
        {{/each}}
        {{/select}}
      </select>
      <a class="change-control delete-change"><i class="fas fa-minus"></i></a>
    </li>
    {{/each}}
  </ol>
</div>
