<form autocomplete="off">
    <div class="form-group">
        <label>{{localize "PF1.AccessabilityFontSize"}}</label>
        <select name="fontSize">
            {{#select settings.fontSize}}
            <option value="0" data-dtype="Number">{{localize "PF1.Normal"}}</option>
            <option value="1" data-dtype="Number">{{localize "PF1.Large"}}</option>
            <option value="2" data-dtype="Number">{{localize "PF1.ExtraLarge"}}</option>
            {{/select}}
        </select>
        <p class="notes">{{localize "PF1.AccessabilityFontSizeHint"}}</p>
    </div>
    
    <div class="form-group">
        <button type="submit" name="submit" >
            <i class="far fa-save"></i> {{localize "SETTINGS.Save"}}
        </button>
    </div>
</form>