{{!-- Buffs --}}

{{!-- Buff Navigation --}}
<nav class="sheet-navigation tabs subtabs buffs" data-group="buffs">
  <a class="item" data-tab="conditions">{{localize "PF1.ConditionPlural"}}</a>
  {{#each sections as |section sid|}}
  <a class="item" data-tab="{{sid}}">{{section.label}}</a>
  {{/each}}
</nav>

<section class="buffs-body">
  <div class="tab flexrow" data-group="buffs" data-tab="conditions">
    {{#each config.conditions as |value con|}}
    <div class="condition">
      <label class="checkbox">
        <input type="checkbox" name="data.attributes.conditions.{{con}}" {{checked (lookup ../data.attributes.conditions con)}}/>
        <span>{{lookup ../config.conditions con}}</span>
      </label>
    </div>
    {{/each}}
  </div>

  {{#each sections as |section sid|}}
  <div class="tab inventory-group flexcol" data-group="buffs" data-tab="{{sid}}">
    <ol class="inventory-list sub-scroll scroll-buffs">
      <li class="inventory-header flexrow">
        <h3 class="item-name flexrow"></h3>

        <div class="item-detail item-level">
          <span>{{localize "PF1.Level"}}</span>
        </div>

        <div class="item-detail item-active">
          <span>{{localize "PF1.Active"}}</span>
        </div>

        {{#if ../owner}}
        <div class="item-controls">
          <a class="item-control item-create" title="{{localize "PF1.CreateItem"}}" {{#each section.dataset as |v k|}}data-{{k}}="{{v}}"{{/each}}>
            <i class="fas fa-plus"></i> {{localize "PF1.Add"}}
          </a>
        </div>
        {{/if}}
      </li>

      <ol class="item-list">
        {{#each section.items as |item iid|}}
        <li class="item flexrow" data-item-id="{{item._id}}">
          <div class="item-name flexrow rollable">
              <div class="item-image" style="background-image: url({{item.img}})"></div>
              <h4>{{item.name}}</h4>
          </div>

          <div class="item-detail item-level">
            <input type="text" value="{{#if item.data.level}}{{item.data.level}}{{/if}}" data-dtype="Number"/>
          </div>

          <div class="item-detail item-active">
            <input type="checkbox" {{checked item.data.active}}/>
          </div>

          {{#if ../../owner}}
          <div class="item-controls">
            <a class="item-control item-edit" title="{{localize "PF1.EditItem"}}"><i class="fas fa-edit"></i></a>
            <a class="item-control item-duplicate" title="{{localize "PF1.DuplicateItem"}}"><i class="fas fa-copy"></i></a>
            <a class="item-control item-delete" title="{{localize "PF1.DeleteItem"}}"><i class="fas fa-trash"></i></a>
          </div>
          {{/if}}
        </li>
        {{/each}}
      </ol>
    </ol>
  </div>
  {{/each}}
</section>
