{{!-- Feat Navigation --}}
<nav class="sheet-navigation tabs subtabs feats" data-group="feats">
  {{#each sections as |section sid|}}
  <a class="item" data-tab="{{sid}}">{{section.label}}</a>
  {{/each}}
</nav>

<section class="feats-body">
  {{#each sections as |section sid|}}
  <div class="tab feats-group flexcol" data-group="feats" data-tab="{{sid}}">
    <ol class="inventory-list sub-scroll scroll-feats">
      <li class="inventory-header flexrow">
        <h3 class="item-name flexrow"></h3>

        {{#unless section.isClass}}
        <div class="item-detail item-type"><i class="icon icon-magic-palm large" title="{{localize "PF1.Type"}}"></i></div>
        {{/unless}}

        {{#if section.hasActions}}
        <div class="item-detail item-actions"><i class="icon icon-gears large" title="{{localize "PF1.ActionPlural"}}"></i></div>
        <div class="item-detail item-uses"><i class="icon icon-battery-pack large" title="{{localize "PF1.ChargePlural"}}"></i></div>
        <div class="item-detail item-usage"><i class="icon icon-hand large" title="{{localize "PF1.Usage"}}"></i></div>
        {{/if}}

        {{#if section.isClass}}
        <div class="item-detail item-feat-level"><i class="icon icon-upgrade large" title="{{localize "PF1.Level"}}"></i></div>
        {{/if}}

        {{#if ../owner}}
        <div class="item-controls">
          {{#if section.canCreate}}
          <a class="item-control item-create" title="Create Item" {{#each section.dataset as |v k|}}data-{{k}}="{{v}}"{{/each}}>
            <i class="fas fa-plus"></i> {{localize "PF1.Add"}}
          </a>
          {{/if}}
        </div>
        {{/if}}
      </li>

      <ol class="item-list">
        {{#each section.items as |item iid|}}
        <li class="item flexrow {{#unless isCharged}}uncharged{{/unless}}" data-item-id="{{item._id}}">
          <div class="item-name flexrow rollable">
            <div class="item-image" style="background-image: url({{item.img}})"></div>
            <h4>{{item.name}}</h4>
          </div>

          {{#unless section.isClass}}
          <div class="item-detail item-type">
            <span>{{item.abilityTypeShort}}</span>
          </div>
          {{/unless}}

          {{#if section.hasActions}}
          <div class="item-detail item-actions">
            <div class="item-attack tooltip">
              {{#if item.hasAction}}
              <span class="tooltipcontent">
                {{localize "PF1.UseFeat"}}
              </span>
              <a class="item-control item-attack"><img class="icon" src="systems/pf1/icons/actions/gladius.svg"></a>
              {{/if}}
            </div>
          </div>

          <div class="item-detail item-uses flexrow {{#if item.isCharged}}tooltip{{/if}}">
            {{#if item.isCharged}}
            <input type="text" class="select-on-click" value="{{item.data.uses.value}}" data-dtype="Number"/>
            <span class="sep"> / </span>
            <input type="text" value="{{item.data.uses.max}}" disabled data-dtype="Number"/>
            <span class="tooltipcontent">
              @resources.{{item.tag}}.value : {{item.data.uses.value}}<br>
              @resources.{{item.tag}}.max : {{item.data.uses.max}}
            </span>
            {{/if}}
          </div>
          <div class="item-detail item-usage">
            {{#if item.data.activation.type }}
            <span>{{item.labels.activation}}</span>
            {{/if}}
          </div>
          {{else if section.isClass}}
          <div class="item-detail item-feat-level tooltip">
            <span>Level {{item.data.level}}</span>
            <span class="tooltipcontent">@classes.{{item.data.tag}}.level : {{item.data.level}}</span>
          </div>
          {{/if}}

          {{#if ../../owner}}
          <div class="item-controls">
            <a class="item-control item-edit" title="{{localize "PF1.EditItem"}}"><i class="fas fa-edit"></i></a>
            <a class="item-control item-duplicate" title="{{localize "PF1.DuplicateItem"}}"><i class="fas fa-copy"></i></a>
            <a class="item-control item-delete" title="{{localize "PF1.DeleteItem"}}"><i class="fas fa-trash"></i></a>
          </div>
          {{/if}}
        </li>
        {{/each}}
      </ol>
    </ol>

    {{#if section.showFeatCount}}
    <hr>
    <div class="tab-footer flexcol">
      <div class="flexrow form-group">
        <label>{{localize "PF1.BonusFeatFormula"}}</label>
        <input type="text" name="data.details.bonusFeatFormula" value="{{../data.details.bonusFeatFormula}}" placeholder="{{localize "PF1.Formula"}}" />
      </div>
      <div class="flexrow form-group">
        <label>{{localize "PF1.Feats"}}</label>
        <input type="text" disabled value="{{../featCount.value}}" />
        <label>{{localize "PF1.ByLevel"}}</label>
        <input type="text" disabled value="{{../featCount.byLevel}}" />
        <label>{{localize "PF1.ByBonus"}}</label>
        <input type="text" disabled value="{{../featCount.byFormula}}" />
        <label>{{localize "PF1.Total"}}</label>
        <input type="text" disabled value="{{../featCount.total}}" />
      </div>
    </div>
    {{/if}}
  </div>
  {{/each}}
</section>
